    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="panel">
                    <div class="panel-body">



                        <!--/stories-->
                        <div class="row">
                            <br>
                            <div class=" col-sm-6">
                                    <form action="/auth/signIn" name="signInForm" method="POST">
                                    <fieldset>
                                        <legend>Sign In</legend>
                                        <div class="form-group">
                                            <label for="userName">Username</label>
                                            <input type="text" class="form-control" id="userName" name="userName">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="text" class="form-control" id="password" name="password">
                                        </div>
                                        <button type="submit" class="btn btn-info">Sign In</button>
                                    </fieldset>
                                </form>
                            </div>


                            <div class="col-sm-6">

                                <form action="/auth/signUp" name="signUpForm" method="POST">
                                    <fieldset>
                                        <legend>Sign Up</legend>
                                        <div class="form-group">
                                            <label for="userName">Username</label>
                                            <input type="text" class="form-control" id="userName" name="userName">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="text" class="form-control" id="password" name="password">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Sign Up</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                        <!--/stories-->

                        <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <!--/col-12-->
        </div>
    </div>
    <hr>